
body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;  
    color: hsl(200, 15%, 8%);
    background-color: hsl(0, 0%, 98%);
}
span p{
    margin-left: 4px;
}
.navigation-bar{ 
    border-bottom: 1px solid #e5e5e5;
    padding:18px 40px 18px 40px;
    display: flex;
    justify-content: space-between;
    box-shadow: 2px 2px 1.5px rgba(0, 0, 0, 0.1);
}
.header{
    padding: 10px;
    font-weight: bold;
    font-size: x-large;
    margin: 0;
}
.toggle-light-and-dark{
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar{
    margin: 40px;
    display: flex;
    justify-content: space-between;
}
@media screen and (max-width: 755px) {
    .search-bar{
        display: block;
    }
    #region{
        margin-top: 20px;
    }
    .header{
        font-size: 14px;
    }
    .search-bar input{
        max-width: 350px;
        width: 100%;
        padding: 15px;
        border: 1px solid #e5e5e5;
        border-radius: 5px;
        box-shadow: 1px 1px 1.5px rgba(0, 0, 0, 0.1);
    }
    .recommendation-flags{
        max-width: 350px;
        width: 100;
      }
  }

#country-search{
    width: 400px;
    padding: 15px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    box-shadow: 1px 1px 1.5px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 475px) {
    #country-search{
        width: 250px;
        padding: 15px;
        border: 1px solid #e5e5e5;
        border-radius: 5px;
        box-shadow: 1px 1px 1.5px rgba(0, 0, 0, 0.1);
    } 
    .recommendation-flags{
        width: 250;
      }
}

.search-bar select {
    max-width: 200px;
    width: 100%;
    padding: 15px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    outline: none;
    box-shadow: 1px 1px 1.5px rgba(0, 0, 0, 0.1);

}

#main-content{
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    gap: 80px;
    padding: 10px;
    font-size: 14px;

}

.flags-info{
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 50px;
    padding-left: 30px;
    padding-right: 30px;
    justify-content: center;
    align-items: left;
}

.flags{
    max-width: 320px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    background-color: white;
    letter-spacing: .5px;
}

img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    min-height: 225px;
    max-height: 230px;
    min-width: 310px;
    max-width: 320px; 
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .recommendation-flags{
    display: none;
    background-color: white;
    z-index: 100;
    list-style: none;
    margin: 0;
    position: absolute;
    width: 400px;
    padding: 15px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    box-shadow: 1px 1px 1.5px rgba(0, 0, 0, 0.1);
    color: black;
  }
ul > li{
    cursor: pointer;
}

  ul > li:hover {
    padding: 2px;
    background-color: aquamarine;
  }

  span{
    display: flex;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
    margin-top: 2px;

  }

  p{
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
  }


  /* DARK MODE */

  .dark-nav-bar{
    background-color: hsl(209, 23%, 22%);
    box-shadow: 0px 0px .5px rgba(0, 0, 0, 0.4);
    border-bottom: hsl(209, 23%, 22%);
  }

  .dark-mode-search {
    background-color: hsl(209, 23%, 22%);
    color: white;
    border: 1px solid hsl(209, 23%, 22%) !important;
    box-shadow: 2px 2px 2.5px rgba(0, 0, 0, 0.5);
}
    .dark-mode-search::placeholder{
        color: white;
    }


  .dark-mode {
    background-color: hsl(207, 26%, 17%);
    color: hsl(0, 0%, 100%);
}


    .dark-mode-elements{
       background-color: hsl(209, 23%, 22%);
       color: hsl(0, 0%, 100%);
    }

    .toggle-light-mode{
        display: none;
        justify-content: center;
        align-items: center;
        cursor: pointer;

    }
    .toggle-dark-mode{
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .hidden {
        display: none;
    }

    .dark-light-margin{
        margin-left: 10px;
    }
